Oct4_only_CR_peaks_homer/*
Oct4_CR_RD_peaks_homer/*
ASH_Sox2_peaks_homer/*
ASH_Shared_Sox2_Oct4_peaks_homer/*
ASH_Oct4_peaks_homer/*
ASH_Combined_Sox2_Oct4_peaks_homer/*
Oct4_NF_RD_IGGFilter_homer/*
ASH_Sox2_peaks_IGGFilter_homer/*